.custom-markdown {
    padding: 0 20px 10px;
    line-height: 2em;
}

.custom-markdown h1 {
    font-size: 32px;
    line-height: 1.5em;
    margin-bottom: 6px;
}

.custom-markdown h2 {
    font-size: 27px;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.custom-markdown h3 {
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.custom-markdown h4 {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.custom-markdown h5 {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.custom-markdown h6 {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 4px;
    color: #A5A5A5;
}

.custom-markdown p {
    font-size: 18px;
}

.custom-markdown ol, ul {
    list-style-position: inside;
}

.custom-markdown li {
    line-height: 1.5em;
}

.custom-markdown a {
    color: #000000;
    margin: 6px 0;
}

.custom-markdown code {
    font-size: 16px;
    background-color: #F0F0F0;
    border: 1px solid #A5A5A5;
    border-radius: 3px;
    padding: 2px;
}

.custom-markdown blockquote {
    border-left: 5px solid #F0F0F0;
    margin: 6px 0;
}

.custom-markdown blockquote > p{
    margin-left: 1em;
    color: #4D4D4D;
}